{% extends 'layouts/base.html' %}

{% block content %}
<div class="row movies-items">
    <div class="col-xs-12 col-md-3">
        <img width="70%" style="margin: 10px;"
             src="https://m.media-amazon.com/images/M/MV5BMmVkMDhiYjgtNjQxMC00NzA4LWFmYTAtNTgxODc3MDQxMjk4XkEyXkFqcGdeQXVyMTA3MDk2NDg2._V1_.jpg"
             alt="Card image">
        <div class="card-body" style="color: white">
            <h4 class="card-title">Moon Fall</h4>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Details</a>
            <a href="#" class="btn btn-danger">Buy tickets</a>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <img width="70%" style="margin: 10px;"
             src="https://m.media-amazon.com/images/M/MV5BMmVkMDhiYjgtNjQxMC00NzA4LWFmYTAtNTgxODc3MDQxMjk4XkEyXkFqcGdeQXVyMTA3MDk2NDg2._V1_.jpg"
             alt="Card image">
        <div class="card-body" style="color: white">
            <h4 class="card-title">Moon Fall</h4>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Details</a>
            <a href="#" class="btn btn-danger">Buy tickets</a>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <img width="70%" style="margin: 10px;"
             src="https://m.media-amazon.com/images/M/MV5BMmVkMDhiYjgtNjQxMC00NzA4LWFmYTAtNTgxODc3MDQxMjk4XkEyXkFqcGdeQXVyMTA3MDk2NDg2._V1_.jpg"
             alt="Card image">
        <div class="card-body" style="color: white">
            <h4 class="card-title">Moon Fall</h4>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Details</a>
            <a href="#" class="btn btn-danger">Buy tickets</a>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <img width="70%" style="margin: 10px;"
             src="https://m.media-amazon.com/images/M/MV5BMmVkMDhiYjgtNjQxMC00NzA4LWFmYTAtNTgxODc3MDQxMjk4XkEyXkFqcGdeQXVyMTA3MDk2NDg2._V1_.jpg"
             alt="Card image">
        <div class="card-body" style="color: white">
            <h4 class="card-title">Moon Fall</h4>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Details</a>
            <a href="#" class="btn btn-danger">Buy tickets</a>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <img width="70%" style="margin: 10px;"
             src="https://m.media-amazon.com/images/M/MV5BMmVkMDhiYjgtNjQxMC00NzA4LWFmYTAtNTgxODc3MDQxMjk4XkEyXkFqcGdeQXVyMTA3MDk2NDg2._V1_.jpg"
             alt="Card image">
        <div class="card-body" style="color: white">
            <h4 class="card-title">Moon Fall</h4>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Details</a>
            <a href="#" class="btn btn-danger">Buy tickets</a>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <img width="70%" style="margin: 10px;"
             src="https://m.media-amazon.com/images/M/MV5BMmVkMDhiYjgtNjQxMC00NzA4LWFmYTAtNTgxODc3MDQxMjk4XkEyXkFqcGdeQXVyMTA3MDk2NDg2._V1_.jpg"
             alt="Card image">
        <div class="card-body" style="color: white">
            <h4 class="card-title">Moon Fall</h4>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Details</a>
            <a href="#" class="btn btn-danger">Buy tickets</a>
        </div>
    </div>
</div>
{% endblock %}